.status-indicator {
	background-color: lightgray;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.group {
	margin-bottom: 0.1rem;
	margin-left: 1rem;
	width: 40%;
}

.state-text {
	display: inline-block;
	vertical-align: middle;
}

.circle {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	background-color: gray;
}

.disconnected-state > .active {
	background-color: white;
}

.init-state > .active {
	background-color: pink;
}

.running-state > .active {
	background-color: green;
}

.stopped-state > .active {
	background-color: red;
}

.halted-state > .active {
	background-color: darkred;
}

.faulted-state > .active {
	background-color: darkred;
}

.load-state > .active {
	background-color: rgb(0, 100, 188);
}
